<mat-nav-list>
  <div class="profile-card">
      <div class="header">
          <h2>Bazen K Fam</h2>
          <h3>Administrator</h3>
          <h4>Bazenfam@gmail.com</h4>
      </div>
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  </div>
<mat-divider></mat-divider>
<h2 matSubheader>Employees</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/">
<mat-icon>people</mat-icon>
Employee mgt
</a>

<h2 matSubheader>Look ups</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/department">Departments</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/education">Education Levels</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/nationality">Nationalities</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/position">Positions</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/religion">Religions</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/region">Regions</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/zone">Zone</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/woreda">Woreda</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/kebelle">Kebelles</a>


<mat-divider></mat-divider>
</mat-nav-list>

