<div class="row">
    <div class="col-md-12">
          <div class="col-md-6">
        <h3 color="primary" class="mat-title font-weight-bold text-center">
            Create Religion</h3>
        <hr>
            <mat-form-field class="example-full-width">
                <input required type="text" required matInput placeholder="Religion name" [(ngModel)]="religion.ReligionName" #ReligionName ="ngModel">
            </mat-form-field>

            <div *ngIf="ReligionName.invalid && (ReligionName.dirty || ReligionName.touched)"
            class="alert alert-danger">
            Religion name is required.
           </div>
            <br>
            <button [disabled]="!ReligionName.valid"  mat-raised-button color="primary" (click)="saveData()"> Create religion</button>&nbsp;
   
            <div class="updating"*ngIf="editing==true">
              <h3 color="primary" class="mat-title font-weight-bold text-center">
                Update religion</h3>
            <hr> 
                <mat-form-field class="example-full-width">
                    <input required type="text" required matInput name="ReligionName" [(ngModel)]="Ereligion.religionName" [value] ='Ereligion.religionName'>
                </mat-form-field>
                <br>
                <button  mat-raised-button color="primary" (click)="UpdateReligion(Ereligion)"> Update religion</button>&nbsp;
                <button  mat-raised-button color="warn" (click)="cancelEditing()"> Cancel updating</button>&nbsp;
            </div>
          </div>
<div class="col-md-6">
    <h3 color="primary" class="mat-title font-weight-bold text-center">
     Religion List</h3>
    <hr>

    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="Religion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Religion Name </th>
            <td mat-cell *matCellDef="let row"> {{row.religionName}} </td>
          </ng-container>
          <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
            <td mat-cell *matCellDef="let row"> <button color="accent" mat-raised-button (click)="editingReligion(row)">Edit</button> </td>
          </ng-container>
          <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
            <td mat-cell *matCellDef="let row"><button color="warn" mat-raised-button (click)="deleteReligion(row.religionId)">Delete</button>  </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
</div>
    </div>
</div>
